In [77]:
#import data

import pandas as pd
import numpy 
import statsmodels
import matplotlib.pyplot as plt

df = pd.read_csv('West_Africa_temperature_1980_2022.csv')

In [78]:
df = df.T

In [79]:
# Set the second row as the header
new_header = df.iloc[0]  # Grab the first row for the header

df = df[1:]  # Take the data less the header row

df.columns = new_header  #Set the header row as the df header

df_main = df[4:]

In [80]:
df_main.head()

STATION,UV000005502,UV000005507,UV000005522,UV000065501,UV000065516,UVM00065503,UVM00065510,UVM00065518,IV000005557,IV000005562,...,SGM00061679,SGM00061695,SGM00061697,SGM00061698,SGM00061699,SL000061856,LIM00065660,GHM00065472,CVM00008594,GV000001832
1980-01-01 00:00:00,23.89,24.44,26.67,21.67,24.44,23.33,24.44,26.67,25.56,24.44,...,26.67,23.33,26.67,28.89,30.0,26.67,27.78,26.11,21.67,26.11
1980-01-02 00:00:00,24.44,24.44,27.22,24.44,26.11,25.0,26.11,26.67,25.56,27.22,...,26.67,24.44,26.67,27.78,26.11,26.67,27.78,28.89,22.22,26.11
1980-01-03 00:00:00,24.44,25.0,26.11,22.78,25.0,25.56,25.0,26.67,26.11,27.22,...,26.67,23.33,26.67,28.89,27.78,26.67,27.78,28.89,21.11,26.11
1980-01-04 00:00:00,23.33,25.0,26.11,23.33,24.44,24.44,25.0,26.67,26.67,26.67,...,26.67,21.67,26.67,23.33,28.33,26.67,27.78,28.89,21.67,26.11
1980-01-05 00:00:00,23.89,25.56,27.22,23.89,25.56,25.56,26.67,26.67,26.11,26.67,...,24.44,24.44,26.67,23.33,27.22,26.67,27.78,28.89,21.67,26.11

In [83]:
#Check the type of values in the data frame

df_main.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15706 entries, 1980-01-01 00:00:00 to 2022-12-31 00:00:00
Data columns (total 72 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UV000005502  15706 non-null  object
 1   UV000005507  15706 non-null  object
 2   UV000005522  15706 non-null  object
 3   UV000065501  15706 non-null  object
 4   UV000065516  15706 non-null  object
 5   UVM00065503  15706 non-null  object
 6   UVM00065510  15706 non-null  object
 7   UVM00065518  15706 non-null  object
 8   IV000005557  15706 non-null  object
 9   IV000005562  15706 non-null  object
 10  IV000005592  15706 non-null  object
 11  IV000065585  15706 non-null  object
 12  IV000065599  15706 non-null  object
 13  IVM00065545  15706 non-null  object
 14  IVM00065560  15706 non-null  object
 15  IVM00065563  15706 non-null  object
 16  IVM00065578  15706 non-null  object
 17  IVM00065594  15706 non-null  object
 18  NG000001036  15706 non-null  object
 19  NG000001049  15706 non-null  object
 20  NG000001052  15706 non-null  object
 21  NG000001075  15706 non-null  object
 22  NG000001080  15706 non-null  object
 23  NG000001090  15706 non-null  object
 24  NG000061017  15706 non-null  object
 25  NG000061024  15706 non-null  object
 26  NG000061043  15706 non-null  object
 27  NG000061096  15706 non-null  object
 28  NGM00061045  15706 non-null  object
 29  NGM00061091  15706 non-null  object
 30  NGM00061099  15706 non-null  object
 31  UVM00065505  15706 non-null  object
 32  TO000005361  15706 non-null  object
 33  TO000005376  15706 non-null  object
 34  TOM00065352  15706 non-null  object
 35  TOM00065355  15706 non-null  object
 36  TOM00065387  15706 non-null  object
 37  GAM00061701  15706 non-null  object
 38  ML000061297  15706 non-null  object
 39  MLM00061230  15706 non-null  object
 40  MLM00061257  15706 non-null  object
 41  MLM00061265  15706 non-null  object
 42  MLM00061272  15706 non-null  object
 43  MLM00061277  15706 non-null  object
 44  MLM00061291  15706 non-null  object
 45  MLM00061293  15706 non-null  object
 46  MLM00061296  15706 non-null  object
 47  PUM00061766  15706 non-null  object
 48  BN000005319  15706 non-null  object
 49  BN000005344  15706 non-null  object
 50  BN000065306  15706 non-null  object
 51  BN000065335  15706 non-null  object
 52  BNM00065330  15706 non-null  object
 53  BNM00065338  15706 non-null  object
 54  NIM00065201  15706 non-null  object
 55  SG000001627  15706 non-null  object
 56  SG000061612  15706 non-null  object
 57  SG000061641  15706 non-null  object
 58  SG000061687  15706 non-null  object
 59  SGM00061600  15706 non-null  object
 60  SGM00061630  15706 non-null  object
 61  SGM00061666  15706 non-null  object
 62  SGM00061679  15706 non-null  object
 63  SGM00061695  15706 non-null  object
 64  SGM00061697  15706 non-null  object
 65  SGM00061698  15706 non-null  object
 66  SGM00061699  15706 non-null  object
 67  SL000061856  15706 non-null  object
 68  LIM00065660  15706 non-null  object
 69  GHM00065472  15706 non-null  object
 70  CVM00008594  15706 non-null  object
 71  GV000001832  15706 non-null  object
dtypes: object(72)
memory usage: 9.3+ MB

In [84]:
#Lets convert the objects to float

df_main = df_main.astype(float)

In [85]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15706 entries, 1980-01-01 00:00:00 to 2022-12-31 00:00:00
Data columns (total 72 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UV000005502  15706 non-null  float64
 1   UV000005507  15706 non-null  float64
 2   UV000005522  15706 non-null  float64
 3   UV000065501  15706 non-null  float64
 4   UV000065516  15706 non-null  float64
 5   UVM00065503  15706 non-null  float64
 6   UVM00065510  15706 non-null  float64
 7   UVM00065518  15706 non-null  float64
 8   IV000005557  15706 non-null  float64
 9   IV000005562  15706 non-null  float64
 10  IV000005592  15706 non-null  float64
 11  IV000065585  15706 non-null  float64
 12  IV000065599  15706 non-null  float64
 13  IVM00065545  15706 non-null  float64
 14  IVM00065560  15706 non-null  float64
 15  IVM00065563  15706 non-null  float64
 16  IVM00065578  15706 non-null  float64
 17  IVM00065594  15706 non-null  float64
 18  NG000001036  15706 non-null  float64
 19  NG000001049  15706 non-null  float64
 20  NG000001052  15706 non-null  float64
 21  NG000001075  15706 non-null  float64
 22  NG000001080  15706 non-null  float64
 23  NG000001090  15706 non-null  float64
 24  NG000061017  15706 non-null  float64
 25  NG000061024  15706 non-null  float64
 26  NG000061043  15706 non-null  float64
 27  NG000061096  15706 non-null  float64
 28  NGM00061045  15706 non-null  float64
 29  NGM00061091  15706 non-null  float64
 30  NGM00061099  15706 non-null  float64
 31  UVM00065505  15706 non-null  float64
 32  TO000005361  15706 non-null  float64
 33  TO000005376  15706 non-null  float64
 34  TOM00065352  15706 non-null  float64
 35  TOM00065355  15706 non-null  float64
 36  TOM00065387  15706 non-null  float64
 37  GAM00061701  15706 non-null  float64
 38  ML000061297  15706 non-null  float64
 39  MLM00061230  15706 non-null  float64
 40  MLM00061257  15706 non-null  float64
 41  MLM00061265  15706 non-null  float64
 42  MLM00061272  15706 non-null  float64
 43  MLM00061277  15706 non-null  float64
 44  MLM00061291  15706 non-null  float64
 45  MLM00061293  15706 non-null  float64
 46  MLM00061296  15706 non-null  float64
 47  PUM00061766  15706 non-null  float64
 48  BN000005319  15706 non-null  float64
 49  BN000005344  15706 non-null  float64
 50  BN000065306  15706 non-null  float64
 51  BN000065335  15706 non-null  float64
 52  BNM00065330  15706 non-null  float64
 53  BNM00065338  15706 non-null  float64
 54  NIM00065201  15706 non-null  float64
 55  SG000001627  15706 non-null  float64
 56  SG000061612  15706 non-null  float64
 57  SG000061641  15706 non-null  float64
 58  SG000061687  15706 non-null  float64
 59  SGM00061600  15706 non-null  float64
 60  SGM00061630  15706 non-null  float64
 61  SGM00061666  15706 non-null  float64
 62  SGM00061679  15706 non-null  float64
 63  SGM00061695  15706 non-null  float64
 64  SGM00061697  15706 non-null  float64
 65  SGM00061698  15706 non-null  float64
 66  SGM00061699  15706 non-null  float64
 67  SL000061856  15706 non-null  float64
 68  LIM00065660  15706 non-null  float64
 69  GHM00065472  15706 non-null  float64
 70  CVM00008594  15706 non-null  float64
 71  GV000001832  15706 non-null  float64
dtypes: float64(72)
memory usage: 9.3+ MB

In [86]:
#Find out if the time series data is stationery.

#Stationarity in a time series refers to the property where the statistical properties of the 
#series â€” such as mean, variance, and autocorrelation â€” are constant over time. 
#This concept is crucial in time series analysis, particularly for modeling and forecasting. 

from statsmodels.tsa.stattools import adfuller

def check_stationarity(data):
    result = adfuller(data)
    print('ADF Statistic: %f' % result[0])
    print('p-value: %f' % result[1])

# Apply the test on each series
for column in df_main.columns:
    print(f"Station: {column}")
    check_stationarity(df_main[column])
    print("\n")

Station: UV000005502
ADF Statistic: -14.608482
p-value: 0.000000


Station: UV000005507
ADF Statistic: -13.597260
p-value: 0.000000


Station: UV000005522
ADF Statistic: -12.677597
p-value: 0.000000


Station: UV000065501
ADF Statistic: -14.058749
p-value: 0.000000


Station: UV000065516
ADF Statistic: -13.461369
p-value: 0.000000


Station: UVM00065503
ADF Statistic: -14.865656
p-value: 0.000000


Station: UVM00065510
ADF Statistic: -12.790538
p-value: 0.000000


Station: UVM00065518
ADF Statistic: -12.341820
p-value: 0.000000


Station: IV000005557
ADF Statistic: -10.318544
p-value: 0.000000


Station: IV000005562
ADF Statistic: -11.306980
p-value: 0.000000


Station: IV000005592
ADF Statistic: -9.152275
p-value: 0.000000


Station: IV000065585
ADF Statistic: -9.867955
p-value: 0.000000


Station: IV000065599
ADF Statistic: -9.535234
p-value: 0.000000


Station: IVM00065545
ADF Statistic: -9.441641
p-value: 0.000000


Station: IVM00065560
ADF Statistic: -9.491261
p-value: 0.000000


Station: IVM00065563
ADF Statistic: -10.416192
p-value: 0.000000


Station: IVM00065578
ADF Statistic: -10.556275
p-value: 0.000000


Station: IVM00065594
ADF Statistic: -8.777393
p-value: 0.000000


Station: NG000001036
ADF Statistic: -14.144777
p-value: 0.000000


Station: NG000001049
ADF Statistic: -11.644803
p-value: 0.000000


Station: NG000001052
ADF Statistic: -14.982345
p-value: 0.000000


Station: NG000001075
ADF Statistic: -13.454349
p-value: 0.000000


Station: NG000001080
ADF Statistic: -13.166589
p-value: 0.000000


Station: NG000001090
ADF Statistic: -13.355562
p-value: 0.000000


Station: NG000061017
ADF Statistic: -9.239805
p-value: 0.000000


Station: NG000061024
ADF Statistic: -11.185169
p-value: 0.000000


Station: NG000061043
ADF Statistic: -13.569357
p-value: 0.000000


Station: NG000061096
ADF Statistic: -13.088481
p-value: 0.000000


Station: NGM00061045
ADF Statistic: -12.480843
p-value: 0.000000


Station: NGM00061091
ADF Statistic: -12.937769
p-value: 0.000000


Station: NGM00061099
ADF Statistic: -14.099379
p-value: 0.000000


Station: UVM00065505
ADF Statistic: -14.091002
p-value: 0.000000


Station: TO000005361
ADF Statistic: -10.230893
p-value: 0.000000


Station: TO000005376
ADF Statistic: -9.131136
p-value: 0.000000


Station: TOM00065352
ADF Statistic: -11.192979
p-value: 0.000000


Station: TOM00065355
ADF Statistic: -9.607563
p-value: 0.000000


Station: TOM00065387
ADF Statistic: -10.469815
p-value: 0.000000


Station: GAM00061701
ADF Statistic: -10.196194
p-value: 0.000000


Station: ML000061297
ADF Statistic: -13.804369
p-value: 0.000000


Station: MLM00061230
ADF Statistic: -13.596724
p-value: 0.000000


Station: MLM00061257
ADF Statistic: -13.997261
p-value: 0.000000


Station: MLM00061265
ADF Statistic: -13.549129
p-value: 0.000000


Station: MLM00061272
ADF Statistic: -14.257891
p-value: 0.000000


Station: MLM00061277
ADF Statistic: -14.395746
p-value: 0.000000


Station: MLM00061291
ADF Statistic: -13.482130
p-value: 0.000000


Station: MLM00061293
ADF Statistic: -14.765333
p-value: 0.000000


Station: MLM00061296
ADF Statistic: -12.837427
p-value: 0.000000


Station: PUM00061766
ADF Statistic: -11.768891
p-value: 0.000000


Station: BN000005319
ADF Statistic: -11.242549
p-value: 0.000000


Station: BN000005344
ADF Statistic: -10.726118
p-value: 0.000000


Station: BN000065306
ADF Statistic: -13.320503
p-value: 0.000000


Station: BN000065335
ADF Statistic: -9.688840
p-value: 0.000000


Station: BNM00065330
ADF Statistic: -10.064279
p-value: 0.000000


Station: BNM00065338
ADF Statistic: -9.738250
p-value: 0.000000


Station: NIM00065201
ADF Statistic: -9.197860
p-value: 0.000000


Station: SG000001627
ADF Statistic: -12.291209
p-value: 0.000000


Station: SG000061612
ADF Statistic: -11.372890
p-value: 0.000000


Station: SG000061641
ADF Statistic: -10.284150
p-value: 0.000000


Station: SG000061687
ADF Statistic: -13.564837
p-value: 0.000000


Station: SGM00061600
ADF Statistic: -9.297287
p-value: 0.000000


Station: SGM00061630
ADF Statistic: -13.288894
p-value: 0.000000


Station: SGM00061666
ADF Statistic: -10.731810
p-value: 0.000000


Station: SGM00061679
ADF Statistic: -13.451589
p-value: 0.000000


Station: SGM00061695
ADF Statistic: -12.476366
p-value: 0.000000


Station: SGM00061697
ADF Statistic: -10.652582
p-value: 0.000000


Station: SGM00061698
ADF Statistic: -12.763388
p-value: 0.000000


Station: SGM00061699
ADF Statistic: -12.843553
p-value: 0.000000


Station: SL000061856
ADF Statistic: -9.523411
p-value: 0.000000


Station: LIM00065660
ADF Statistic: -6.475618
p-value: 0.000000


Station: GHM00065472
ADF Statistic: -9.357717
p-value: 0.000000


Station: CVM00008594
ADF Statistic: -11.065641
p-value: 0.000000


Station: GV000001832
ADF Statistic: -9.836503
p-value: 0.000000

For the above result, we can see that the p-values are less than 0.05 which suggest that the station (0.00000 p-value) are stationery. And since we also have a very strong negative ADF value, it also suggest that the time series is stationery.

In [87]:
#Determining the order of VAR Model

#In simpler terms, it's about deciding how many past observations (lags) 
#should be considered to predict future values in the time series.

from statsmodels.tsa.api import VAR

model = VAR(df_main)
for i in [1,2,3,4,5]: # Check different lag orders
    result = model.fit(i)
    print('Lag Order =', i)
    print('AIC : ', result.aic)
    print('BIC : ', result.bic)
    print()

C:\Users\USER\anaconda3\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)

Lag Order = 1
AIC :  12.870719797204963
BIC :  15.434876184936817

Lag Order = 2
AIC :  10.821517877906336
BIC :  15.914987215870152

Lag Order = 3
AIC :  9.947118866016838
BIC :  17.57018125162128

Lag Order = 4
AIC :  9.504658605802376
BIC :  19.657594185954245

Lag Order = 5
AIC :  9.447455056950956
BIC :  22.130544028067124

From the above, we need an order with low AIC and Low BIC. We can see that Lag Order 4 is perfect.

In [88]:
#Fit the model. Using lag 4

model_fitted = model.fit(4)

In [91]:
#Check for serial correlation

#Serial correlation (also known as autocorrelation) refers to the relationship 
#between observations of the same variable over different periods of time.

from statsmodels.stats.stattools import durbin_watson

out = durbin_watson(model_fitted.resid)

for col, val in zip(df.columns, out):
    print(col, ':', round(val, 2))

UV000005502 : 2.01
UV000005507 : 2.01
UV000005522 : 2.02
UV000065501 : 2.01
UV000065516 : 2.01
UVM00065503 : 2.01
UVM00065510 : 2.02
UVM00065518 : 2.02
IV000005557 : 2.01
IV000005562 : 2.02
IV000005592 : 2.01
IV000065585 : 2.01
IV000065599 : 2.01
IVM00065545 : 2.01
IVM00065560 : 2.01
IVM00065563 : 2.02
IVM00065578 : 2.02
IVM00065594 : 2.02
NG000001036 : 2.0
NG000001049 : 2.02
NG000001052 : 2.01
NG000001075 : 2.01
NG000001080 : 2.02
NG000001090 : 2.01
NG000061017 : 2.02
NG000061024 : 2.01
NG000061043 : 2.0
NG000061096 : 2.01
NGM00061045 : 2.01
NGM00061091 : 2.02
NGM00061099 : 2.02
UVM00065505 : 2.01
TO000005361 : 2.02
TO000005376 : 2.01
TOM00065352 : 2.02
TOM00065355 : 2.02
TOM00065387 : 2.02
GAM00061701 : 2.01
ML000061297 : 2.01
MLM00061230 : 2.01
MLM00061257 : 2.01
MLM00061265 : 2.0
MLM00061272 : 2.01
MLM00061277 : 2.01
MLM00061291 : 2.01
MLM00061293 : 2.01
MLM00061296 : 2.01
PUM00061766 : 2.01
BN000005319 : 2.02
BN000005344 : 2.02
BN000065306 : 2.02
BN000065335 : 2.01
BNM00065330 : 2.01
BNM00065338 : 2.01
NIM00065201 : 2.03
SG000001627 : 2.01
SG000061612 : 2.01
SG000061641 : 2.02
SG000061687 : 2.01
SGM00061600 : 2.01
SGM00061630 : 2.01
SGM00061666 : 2.01
SGM00061679 : 2.0
SGM00061695 : 2.01
SGM00061697 : 2.03
SGM00061698 : 2.02
SGM00061699 : 2.02
SL000061856 : 2.02
LIM00065660 : 2.04
GHM00065472 : 2.03
CVM00008594 : 2.03
GV000001832 : 2.03

Understanding the above Durbin-Watson Statistic.

The results of DW statistic ranges from 0 to 4, with:

A value around 2 indicating no serial correlation.

A value significantly less than 2 suggesting positive serial correlation.

A value significantly greater than 2 indicating negative serial correlation.

In the above results, the Durbin-Watson statistics are very close to 2. This is typically interpreted as evidence that there is no significant serial correlation. This is a desirable outcome, as it suggests your model is adequately capturing the temporal dependencies in the data.

In [96]:
# Forecast for next 5 periods. i.e prediction for the next 5 days after dec 31th, 2022
forecast = model_fitted.forecast(df_main.values[-model_fitted.k_ar:], steps=5)
pd.DataFrame(forecast)

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
0,24.277906,23.750526,24.962036,28.785566,24.069550,24.185636,24.840489,24.740416,26.321824,25.692038,...,26.710323,24.801420,24.453017,25.037855,26.786941,27.122037,28.325030,28.356544,22.421690,28.088102
1,24.269981,23.991941,25.344165,27.550732,24.476770,24.621582,25.451636,25.100558,26.224766,26.249293,...,26.542105,24.843614,24.281845,25.208407,26.783451,27.174959,28.094268,28.439043,22.324367,28.045698
2,24.590250,24.493128,25.358381,27.115406,24.684947,24.710956,25.644282,25.395822,26.177141,26.251078,...,26.878745,24.947272,24.473824,25.152551,26.795043,27.246716,28.231781,28.570740,22.218994,28.065418
3,24.803920,24.599692,25.360180,26.810538,24.854197,24.868866,25.636774,25.511055,26.267233,26.307596,...,26.850842,25.113100,24.609291,25.441518,27.079944,27.206113,28.096800,28.469609,22.225536,28.062778
4,24.904783,24.786425,25.466399,26.243507,25.096079,24.982324,25.800484,25.659668,26.284398,26.550647,...,26.871329,25.146858,24.570476,25.414989,27.134049,27.210800,27.987978,28.471790,22.238409,28.013469